<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<!--
   info.plist
   MyShares

   Created by Adam Teale on 23/01/2016.
   Copyright (c) 2016 __MyCompanyName__. All rights reserved.
-->
<plist version="1.0">
    <key>NSAppTransportSecurity</key>
    <dict>
        <key>NSAllowsArbitraryLoads</key>
        <true/>
    </dict>
</plist>
